<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
<h1>WELCOME TO ADMIN DASHBOARD</h1><br>

<h2 style=" color : green " th:text="${message}"></h2><br>

<a href="/admin/ReadAllAppointments" > READ ALL APPOINTMENTS </a><br><br>
<a href="/admin/AddAppointments" > ADD APPOINTMENTS </a><br><br>
<a href="/admin/ChangeAdminCredentials" > CHANGE ADMIN CREDENTIALS </a><br><br>
<a href="/dologout">LOGOUT</a><br>

</body>
</html>